Repository BSData/wh40k-9e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-authors-wh40k, @FarseerVeraenthis, @Mad-Spy, @alphalas, @GenWilhelm, @WindstormSCR, @Thairne, @DrTobogganMD, @Technoblazed, @CrusherJoe, @tekton, @acebaur, @tag8833, @amis92

Update Aeldari - Drukhari.cat
  Aeldari - Drukhari.cat
Owners: @FarseerVeraenthis

All things pointy eared (#9725)
  Aeldari - Drukhari.cat
Owners: @FarseerVeraenthis

Update Imperium - Adeptus Mechanicus.cat
  Imperium - Adeptus Mechanicus.cat
Owners: @Thairne

Fixes #9729
  Imperium - Blood Angels.cat
Owners: @alphalas

Fix #9723
  Imperium - Deathwatch.cat
Owners: @Technoblazed

Fix #9701
  Imperium - Astra Militarum - Library.cat
Owners: @alphalas

Fix #9645
  Imperium - Astra Militarum - Library.cat
Owners: @alphalas

Fix #9664
  Imperium - Astra Militarum - Library.cat
Owners: @alphalas

The power is yours - RAW or RAI Reavers?
  Aeldari - Drukhari.cat
Owners: @FarseerVeraenthis

Update Aeldari - Drukhari.cat
  Aeldari - Drukhari.cat
Owners: @FarseerVeraenthis

Fixes #9736
  Chaos - Daemons.cat
Owners: @Mad-Spy

Version bump
  Chaos - Daemons.cat
Owners: @Mad-Spy

Fixes #9741
  Chaos - FW Heretic Astartes.cat
Owners: @Mad-Spy

Orks v113
  Orks.cat
Owners: @tag8833

Spelling mistake in living lightning
  Necrons.cat
Owners: @DrTobogganMD

Update revision
  Necrons.cat
Owners: @DrTobogganMD

Fix spelling on living lightning
  Necrons.cat
Owners: @DrTobogganMD

Closes #9749
  Chaos - Death Guard.cat
Owners: @Mad-Spy

mostly done
  Imperium - Black Templars.cat
  Imperium - Imperial Fists.cat
  Imperium - Iron Hands.cat
  Imperium - Raven Guard.cat
  Imperium - Salamanders.cat
  Imperium - Space Marines.cat
  Imperium - Ultramarines.cat
Owners: @alphalas, @acebaur

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-authors-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Imperium*   @alphalas
Tyranids*   @GenWilhelm

# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Aeldari
*Craftworlds.cat              @WindstormSCR @FarseerVeraenthis

# Imperium
*Adeptus\ Custodes.cat            @WindstormSCR
*Adeptus\ Mechanicus.cat          @Thairne
*Adeptus\ Titanicus.cat           @DrTobogganMD
*Blood\ Angels.cat                @alphalas
*Dark\ Angels.cat                 @Thairne @FarseerVeraenthis
*Deathwatch.cat                   @Technoblazed
*Elucidian\ Starstriders.cat      @GenWilhelm
*FW\ Adeptus\ Astartes.cat        @alphalas
*FW\ Death\ Korps\ of\ Krieg.cat  @CrusherJoe @alphalas
*Grey\ Knights.cat                @tekton
*Legion\ of\ the\ Damned.cat      @alphalas
*Questor\ Imperialis.cat          @DrTobogganMD
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur
*Space\ Wolves.cat                @CrusherJoe
*Titan\ Legions.cat               @DrTobogganMD

# Other
Fallen.cat         @Mad-Spy
Necrons.cat        @DrTobogganMD
Orks.cat           @tag8833
T?au\ Empire.cat   @amis92 @Technoblazed
# the above question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
