Repository BSData/wh40k-9e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BSData/data-admins-wh40k, @FarseerVeraenthis, @Mad-Spy, @alphalas, @GenWilhelm, @Thairne, @CrusherJoe, @tekton, @AbonShell, @acebaur, @DrTobogganMD

added bodyguards to commissar and fixed some point
  Imperium - Astra Militarum - Library.cat
Owners: @alphalas

More point fixes
  Imperium - Astra Militarum - Library.cat
Owners: @alphalas

Spelling error with kasrkin
  Imperium - Astra Militarum - Library.cat
Owners: @alphalas

Kasrkin special weapon logic fix
  Imperium - Astra Militarum - Library.cat
Owners: @alphalas

Changed to a library, no rules to make as a stand alone
  Imperium - Imperial Navy.cat
Owners: @alphalas

Lotta fixes
  Imperium - Astra Militarum - Library.cat
Owners: @alphalas

fixed vox caster on shock trooper
  Imperium - Astra Militarum - Library.cat
Owners: @alphalas

arks of omen
  Chaos - Chaos Space Marines.cat
  Warhammer 40,000.gst
Owners: @Mad-Spy, @BSData/data-admins-wh40k

arks flags
  Chaos - Daemons.cat
  Imperium - Astra Militarum - Library.cat
  Imperium - Astra Militarum.cat
Owners: @Mad-Spy, @alphalas

more arks
  Chaos - Daemons.cat
  Warhammer 40,000.gst
Owners: @Mad-Spy, @BSData/data-admins-wh40k

Update Chaos - Daemons.cat
  Chaos - Daemons.cat
Owners: @Mad-Spy

Update Warhammer 40,000.gst
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Update Warhammer 40,000.gst
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Update Warhammer 40,000.gst
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Update Warhammer 40,000.gst
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Update Warhammer 40,000.gst
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Update Warhammer 40,000.gst
  Warhammer 40,000.gst
Owners: @BSData/data-admins-wh40k

Rev numbers
  Chaos - Chaos Knights.cat
  Chaos - Chaos Space Marines.cat
  Chaos - Daemons.cat
  Chaos - Thousand Sons.cat
  Imperium - Inquisition.cat
  Imperium - Officio Assassinorum.cat
Owners: @Mad-Spy, @alphalas

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @BSData/data-authors-wh40k
# will be requested for review when someone opens a pull request.

*       @BSData/data-admins-wh40k

# # # # # # # # # # #
# Generic "owners"  #
# # # # # # # # # # #

Aeldari*    @FarseerVeraenthis
Chaos*      @Mad-Spy
Imperium*   @alphalas
Tyranids*   @GenWilhelm

# # # # # # # # # # # # # # # # # # # # #
# Exceptions from globs and other stuff #
# # # # # # # # # # # # # # # # # # # # #

# Aeldari
*Craftworlds.cat              @FarseerVeraenthis

# Imperium
*Adeptus\ Custodes.cat            @Thairne
*Adeptus\ Mechanicus.cat          @Thairne
*Blood\ Angels.cat                @alphalas
*Dark\ Angels.cat                 @FarseerVeraenthis
*Deathwatch.cat                   @FarseerVeraenthis
*Elucidian\ Starstriders.cat      @GenWilhelm
*FW\ Adeptus\ Astartes.cat        @alphalas
*FW\ Death\ Korps\ of\ Krieg.cat  @CrusherJoe @alphalas
*Grey\ Knights.cat                @tekton
*Legion\ of\ the\ Damned.cat      @alphalas
*Questor\ Imperialis.cat          @AbonShell
# Space Marines require 'Imperium' prefix/full name to prevent confusion with Chaos Space Marines
Imperium\ -\ Space\ Marines.cat   @acebaur
*Space\ Wolves.cat                @Mad-Spy
*Titan\ Legions.cat               @DrTobogganMD

# Other
Fallen.cat         @Mad-Spy
Necrons.cat        @DrTobogganMD
T?au\ Empire.cat   @AbonShell
# the above question mark is a hack until GitHub fixes support for single quotes in CODEOWNERS
Leagues\ of\ Votann.cat @Mad-Spy
